* text=auto

/.travis.yml export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.editorconfig export-ignore
/.php_cs export-ignore
/phpunit.xml.dist export-ignore
/phpunit-api-coverage.xml export-ignore
/tests export-ignore
/sami.php export-ignore
/scripts export-ignore
/.github export-ignore
